
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <div class="row"></div>
    <div class="row">
        <div class="col col-lg-2">
        </div>
        <div class="col-sm-12 col-lg-8">
            <form>
                <div class="row px-lg-5">
                    <div class="col">
                        <button class="btn-primary btn-lg" asp-action="SignIn">Login With Twitter</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col col-lg-2"></div>
    </div>
</div>