
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row"></div>
    <div class="row">
        <div class="col col-lg-2">
            <span class="d-md-none">This is a mobile</span>
        </div>
        <div class="col-sm-12 col-lg">
            <form>
                <div class="row px-lg-5">
                    <div class="col">
                        <button asp-action="Login">Login With Twitter</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col col-lg-2">Test1</div>
    </div>
</div>

